<!doctype html>
<html lang="zh">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="../styles/bootstrap.min.css">
		<link rel="stylesheet" href="../styles/style.css">
		<link rel="shortcut icon" href="../sources/images/icon/logo.ico">

		<title>Jumper</title>

	</head>

	<body>

		<div class="container-fluid pt-5">
			<div class="game-canvas-container">
				<canvas class="border border-light bg-dark" id="game-canvas" width="1400" height="800"></canvas>
				<div class="logo">
					<img src="../sources/images/icon/logo.png" class="mx-auto d-block" id="logo-img"></img>
				</div>
				<div class="progress">	
					<div class="progress-bar" id="progress-bar" style="width: 0%;"></div>
				</div>
			</div>
		</div>

		<!-- Optional JavaScript -->
		<script src="../scripts/jquery-3.3.1.min.js"></script>
		<script src="../scripts/bootstrap.bundle.min.js"></script>
		<script src="../scripts/quintus-all.min.js"></script>
		<script src="../scripts/game_quintus_jumper.js"></script>

	</body>

</html>